* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.d-font {
	font-family: sans-serif;
}

.d-font.white {
	font-family: sans-serif;
	color: white !important;
	font-weight: bold;
}

nav {
	display: inline-block;
	width: 100vw;
	height: 7.5vh;
	background: #287094;
}

#logo {
	position: relative;
	left: none !important;
	width: 200px;
	height: 7.5vh;
}
#page-logo {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#page-links ul {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#page-links {
	position: absolute;
	top: 0%;
	left: 200px;
	color: #000;
	width: calc(100vw - 200px);
	height: 7.5vh;
}
#page-links li::first-child {
	margin-left: 130px;
}
#page-links li {
	display: inline-block;
	top: 2px;
	list-style: none;
	list-style-type: none;
	margin: 0 120px;
}

a.a-link:link {
	text-decoration: none;
	color: white;
}

a.a-link:visited {
	text-decoration: none;
	color: white;
}

a.a-link:active {
	text-decoration: none;
	color: white;
}

a.a-link:hover {
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 1070) {
	#page-links li {
		display: inline-block;
		top: 2px;
		list-style: none;
		list-style-type: none;
		margin: 0 30px;
	}
}
