* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.d-font {
	font-family: sans-serif;
}

.d-font.white {
	font-family: sans-serif;
	color: white !important;
	font-weight: bold;
}
#drop-menu{
  height: 0;
  transition: 0.7s height;
  background: #d4d4ce;
}
nav {
	display: inline-block;
	width: 100vw;
	height: 7.5vh;
	background: #287094;
}

#logo {
	position: relative;
	left: none !important;
	width: 200px;
	height: 7.5vh;
}
#page-logo {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#page-links ul {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#page-links {
	position: absolute;
	top: 0%;
	left: 200px;
	color: #000;
	width: calc(100vw - 200px);
	height: 7.5vh;
}
@media only screen and (max-width: 1070px) {
	#page-links li {
		display: inline-block;
		top: 2px;
		list-style: none;
		list-style-type: none;
		margin: 0 60px !important;
	}

	#page-links li::first-child {
		margin-left: 70px;
	}
}
.dropdown-btn {
	display: none;
}

@media only screen and (max-width: 760px) {
	#page-links {
		display: none !important;
	}
    
    .drop-menu{
        background: #287094
    }
	.dropdown-btn {
		display: inline-block !important;
		width: 100vw;
		height: 5vh;
		background: #d4d4ce;
	}

	.arrows {
		display: block !important;
		position: relative;
		text-align: center !important;
		top: 50%;
		transform: translateY(-50%);
	}

	.arrow {
		border: solid 023246;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
	}

	.arrow {
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
	}

	.down {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}
  .up {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
	}
}

#page-links li::first-child {
	margin-left: 130px;
}
#page-links li {
	display: inline-block;
	top: 2px;
	list-style: none;
	list-style-type: none;
	margin: 0 120px;
}

a.a-link:link {
	text-decoration: none;
	color: white;
}

a.a-link:visited {
	text-decoration: none;
	color: white;
}

a.a-link:active {
	text-decoration: none;
	color: white;
}

a.a-link:hover {
	text-decoration: none;
	color: white;
}
